.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 66vh;
  
  .image {
    max-width: 75vw;
    max-height: 75%;
    object-fit: contain;
  }
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: red;
}

.inputContainer {
  height: 10.75rem;
  width: 100%;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #111122;
  color: #eeeeee;

  form {
    text-align: center;

    div {
      height: 4.3rem;
      gap: .3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;


      .form-url-input {
        display: flex;
        flex-grow: 1;
        background-color: #eeeeee;
        color: #333333;
        border: none;
        max-width: 30rem;
        width: 100%;
        height: 100%;
        padding: 0 0 0 1rem;
        font-size: 1rem;
        &:focus {
          outline: none;
        }
      }
  
      .form-button {
        height: 100%;
        border-radius: 1rem;
        border: none;
        font-size: 1.3rem;
        color: #eeeeee;
        background-color: #F5540C;
        cursor: pointer;
      }
    }
    }

}

.colorResponseContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    font-size: 1.3rem;
    background-color: #F5540C;
    color: #eeeeee;
    padding: .2rem .5rem .2rem .5rem;
    border-radius: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    border: none;
  }
}

.loading {
  height: 10vh;
  aspect-ratio: 1;
  border-radius: 50%;
  border: #aaaaaa .5rem solid;
  border-top: white .5rem solid;
  animation-name: rotateLoading;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes rotateLoading {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}